@import "../../scss//mixins//breakpoints.scss";

.carousel-wrapper{
.quoteMark{
  font-weight: 700;
  font-size: 96px;
  line-height: 0;
  margin: 0;
  }

  .carousel .control-dots .dot{
    box-shadow: none;
    background: black;
    width: 15px;
    height: 15px;
  }

  .carousel-status{
    display: none;
  }

  p{
    font-size: 18px;
  }
  .carousel .slide img {
    width: auto;
  }

}