h1{
    font-family: 'Lato', sans-serif !important;
    font-size: clamp(1.5rem, 2.5vw, 4rem);  
    font-weight: 800 !important;
}

p{
    font-size: 20px;
    font-weight: 100;
}

.jumbotron{
    margin-bottom: 50px;
}