h1{
    font-family: 'Lato', sans-serif !important;
    font-size: 96px !important;
    font-weight: 800 !important;
}

p{
    font-size: 20px;
    font-weight: 100;
}

.jumbotron{
    margin-bottom: 50px;
}