
@import "./components/carousel/carousel.module.scss";
@import "./scss//fonts.scss";

body {
  margin: 0;
  
}
p, li{
  font-size: 16px;
  
};

.App {
  text-align: center;
  $font-family-base:'Helvetica', 'Arial', sans-serif;
}

//

.subheader{
  font-family: 'Lato', sans-serif !important;
  font-weight: 800;
  font-size: 32px;
  line-height: 37px;
  
  text-align: center;
  width: fit-content;
  position: relative;
  margin: 0 auto;
}

ul{
  
  li{
    text-align: left;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
  }
}



.underline{
  display: block;
  height: 5px;
  // width: 50%;
  position: relative;
  margin: 0 auto;
  border-bottom: 2px solid #000;
}

